<footer class="container footer">
    <div class="footer-wrapper">
        <div class="footer-item">
            <img class="footer-logo" src="~/img/logo.png" alt="footer website logo">
        </div>
        <div class="footer-item">
            <h3>Телефоны</h3>
            <div class="phone-links">
                <a href="#" target="_blank">+375 (17) 396-84-47</a>
                <a href="#" target="_blank">+375 (29) 662-46-45</a>
                <a href="#" target="_blank">+375 (33) 902-33-83</a>
                <a href="#" target="_blank">+375 (25) 601-61-12</a>
            </div>
        </div>
        <div class="footer-item">
            <h3>Адрес офиса</h3>
            <p>
                220116, Республика Беларусь,
                г. Минск, пр-т газеты Правда,
                52 (СШ №155)
            </p>
        </div>
        <div class="footer-item">
            <h3>Мы в социальных сетях</h3>
            <div class="social-networks">
                <a href="#" target="_blank"><img src="~/img/vk.png" alt="vk"></a>
                <a href="#" target="_blank"><img src="~/img/instagram.png" alt="instagram"></a>
                <a href="#" target="_blank"><img src="~/img/facebook.png" alt="facebook"></a>
            </div>
        </div>
    </div>
</footer>