@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/FiraSansExtraCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/FiraSansExtraCondensed-Light.ttf');
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/FiraSansExtraCondensed-Medium.ttf');
}

@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/FiraSansExtraCondensed-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Extra Condensed", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

button[type="submit"]:hover {
    cursor: pointer;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    z-index: 100;
}

.navigation {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation .logo {
    height: 70%;
}

.nav-wrapper .signIn,
.nav-wrapper .signOut {
    font-size: 1.1rem;
    color: #008ab8;
    margin-left: 30px;
    transition: all 150ms ease-in-out;
}

.nav-wrapper .signOut {
    border: none;
    background: none;
    color: #c40000;
}

.nav-wrapper .signIn:hover {
    color: deepskyblue;
}

.nav-wrapper .signOut:hover {
    color: red;
    cursor: pointer;
}

.nav-wrapper .signOut:active {
    outline: none;
}

.navigation .logo img {
    height: 100%;
}

.navigation .nav-links {
    width: 70%;
    height: 100%;
}

.navigation .nav-links ul {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navigation .nav-links li {
    display: inline-block;
}

.navigation .nav-links li a {
    color: black;
    transition: all 150ms ease-in-out;
}

.navigation .nav-links li a:hover {
    color: orangered;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
}

.container.advertisement {
    justify-content: space-between;
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/banner.png') no-repeat center top / cover;
}

.advertisement .advantages-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.advertisement .advantages-wrapper h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    text-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.advantages-wrapper .advantages {
    line-height: 40px;
    color: white;
    margin-top: 50px;
}

.advantages-wrapper .advantages li {
    color: white;
    list-style-position: inside;
    font-size: 1.5rem;
    text-shadow: 0 2px 5px rgba(0,0,0,5);
}

.advertisement .signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    width: 250px;
    background-color: orangered;
    color: white;
    transition: box-shadow 150ms ease-in-out;
}

.advertisement .signUp:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.advertisement .signUp:active {
    padding-top: 5px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.instructors {
    flex-direction: column;
}

.instructors h1 {
    text-align: center;
    color: orangered;
    font-size: 3rem;
}

.instructor-wrapper {
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 20px;
}

.instructor-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.instructor-item img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.instructor-item .instructor-info {
    height: 30%;
    width: 100%;
    padding: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: orangered;
}

.instructor-info .instructor-name {
    font-weight: 700;
}

.instructor-info .instructor-name,
.instructor-info .instructor-experience {
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.container.footer {
    height: 300px;
    background-color: aliceblue;
}

.footer .footer-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    gap: 20px;
}

.footer-wrapper .footer-item {
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

.footer-wrapper .footer-logo {
    width: 50%;
}

.footer-wrapper .footer-item h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-wrapper .phone-links {
    display: flex;
    flex-direction: column;
}

.footer-wrapper .phone-links a {
    color: black;
    transition: all 150ms ease-in-out;
}

.footer-wrapper .phone-links a:hover {
    color: orangered;
}

.footer-wrapper .social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.footer-wrapper .social-networks a {
    width: 30px;
    height: 30px;
    transition: all 200ms ease-in-out;
}

.footer-wrapper .social-networks a:hover {
    transform: translateY(-3px);
}

.footer-wrapper .social-networks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-title {
    text-align: center;
    color: orangered;
    font-size: 3rem;
}

.recruitment h2,
.timetable h2{
    text-align: center;
    margin: 50px 0;
    width: 70%;
}

.table {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table thead {
    background-color: orangered;
    color: white;
}

.table tr {
    height: 50px;
}

.table tbody tr:hover {
    background-color: aliceblue;
    color: orangered;
}

.table tbody .signUp {
    color: dodgerblue;
}

.table tbody .signUp:hover {
    color: deepskyblue;
}

.table tbody .edit-button {
    color: green;
}

.table tbody .edit-button:hover {
    color: limegreen;
}

.table .table-delete-button {
    font-size: 1.3rem;
    color: #c40000;
    border: none;
    background: none;
}

.table .table-delete-button:hover {
    color: red;
    cursor: pointer;
}

.table tr,
.table td {
    border: solid 1px orangered;
}

.table thead a {
    color: white;
}

.recruitment .recruitment-form {
    margin-top: 50px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 400px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.recruitment-form h1 {
    margin-bottom: 20px;
}

.recruitment-form input,
.recruitment-form select,
.recruitment-form button[type='submit'] {
    padding: 0 20px;
    font-size: 1.5rem;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: solid 1px orangered;
    transition: all 200ms ease-in-out;
}

.recruitment-form select {
    -webkit-appearance: none;
}

.signup-form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
    height: 700px;
    width: 600px;
    background-color: aliceblue;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.form-group {
    width: 100%;
}

.signup-form .form-group input,
.signup-form .form-group textarea,
.signup-form .form-group button[type='submit']{
    height: 70px;
    width: 100%;
    border-radius: 35px;
    padding: 5px 20px;
    border: solid 1px orangered;
    font-size: 1.8rem;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 300;
    transition: all 200ms ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group button[type='submit']:focus,
.form-group select:focus{
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    border: solid 1px deepskyblue;
    box-shadow: 0 0 10px rgba(31,133,222,1);
}

.signup-form .form-group textarea {
    height: 150px;
    resize: none;
}

.signup-form .form-group button[type='submit'] {
    color: white;
    border: none;
    background: rgb(255,196,0);
    background: linear-gradient(27deg, rgba(255,196,0,1) 0%, rgba(252,96,69,1) 100%);
}

.feedback .feedback-wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feedback-wrapper .feedback-item {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.feedback .feedback-item:not(:first-child) {
    margin-top: 30px;
}

.feedback-item .feedback-author {
    font-weight: 700;
}

.feedback-item .feedback-date {
    color: deepskyblue;
}

.feedback-item .feedback-content {
    margin-top: 5px;
}

.feedback-form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    height: 600px;
    width: 800px;
    border-radius: 50px;
    background-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.feedback-form .form-group input,
.feedback-form .form-group textarea,
.feedback-form .form-group button[type='submit'] {
    height: 60px;
    width: 100%;
    border-radius: 35px;
    padding: 5px 20px;
    border: solid 1px orangered;
    font-size: 1.8rem;
    font-weight: 300;
    transition: all 200ms ease-in-out;
}

.feedback-form .form-group textarea {
    width: 100%;
    height: 200px;
    max-width: 100%;
    max-height: 250px;
}

.feedback-form .form-group button[type='submit'],
.recruitment-form button[type='submit'],
.instructor-form .form-group button[type='submit'] {
    color: white;
    border: none;
    background: rgb(255,196,0);
    background: linear-gradient(27deg, rgba(255,196,0,1) 0%, rgba(252,96,69,1) 100%);
}

.feedback-delete-button {
    font-size: 1.3rem;
    border: none;
    background: none;
    color: #c40000;
    transition: all 200ms ease-in-out;
}

.feedback-delete-button:hover {
    color: red;
    cursor: pointer;
}

.instructors .instructor-form {
    margin-top: 50px;
    height: 400px;
    width: 600px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.instructor-form .form-group input,
.instructor-form .form-group button[type='submit'],
.instructor-form .form-group .fileName,
.instructors-search-form input {
    height: 60px;
    width: 100%;
    border-radius: 30px;
    padding: 5px 20px;
    border: solid 1px orangered;
    font-size: 1.8rem;
    font-weight: 300;
    transition: all 200ms ease-in-out;
}

.feedback-form .form-group input:focus,
.feedback-form .form-group textarea:focus,
.instructor-form .form-group input:focus,
.instructors-search-form input:focus {
    border: solid 1px deepskyblue;
}

.instructor-form .form-group button[type='submit'],
.instructor-form .form-group .fileName {
    border: none;
}

.instructor-form .form-group .fileName:hover {
    cursor: pointer;
}

.form-group input[type="file"] {
    display: none;
}

.form-group button[type='submit']:active {
    padding-top: 3px;
}

.instructors .instructors-search-form {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 60%;
    height: 60px;
}

.instructor-form .form-group {
    display: flex;
    align-self: center;
    justify-content: center;
}

.instructors .instructors-search-form input {
    padding-right: 60px;

}

.instructor-form .form-group button[type='submit'] {
    width: 60%;
}

.instructors .instructors-search-form input:focus {
    box-shadow: 0 0 10px rgba(31,133,222,1);
    outline: none;
}

.instructors-search-form .search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: orangered;
    border: none;
}

.search-button svg {
    width: 60%;
    height: 60%;
    object-fit: cover;
    fill: white;
}

.instructors-search-form .search-button:hover {
    cursor: pointer;
}

.instructors-search-form .search-button:active {
    background-color: deepskyblue;
}


.instructor-item .delete-form {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    transition: all 150ms ease-in-out;
}

.instructor-item .delete-form button[type="submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.instructor-item .delete-form:hover {
    transform: scale(1.1);
}

.delete-form button[type="submit"]:hover {
    cursor: pointer;
}

.delete-form button[type="submit"] svg {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.login .login-form {
    margin-top: 50px;
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 40px 30px;
    background-color: aliceblue;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.login-form input:not(input[type="checkbox"]),
.login-form button[type="submit"] {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1.5rem;
    border-radius: 25px;
    border: solid 1px orangered;
    transition: all 200ms ease-in-out;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border: solid 1px deepskyblue;
}

.login-form input[type="checkbox"] {
    font-size: 2rem;
    margin-right: 10px;
}

.training-applications .table {
    margin-top: 50px;
}

.training-applications .table tbody tr:hover {
    color: black;
}

.training-applications .table .client-item,
.training-applications .table .group-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    text-align: left;
}

.client-item-wrapper {
    width: 50%;
}

.client-item-wrapper .client-item span,
.group-item-wrapper .group-item span {
    color: orangered;
}

.login-form .form-group #Email,
.login-form .form-group #Password,
.login-form button[type="submit"] {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 1.5rem;
    border-radius: 25px;
    border: solid 1px orangered;
    transition: all 200ms ease-in-out;
}

.login-form .form-group #Email:focus,
.login-form .form-group #Password:focus {
    border: 1px deepskyblue;
}

.login-form button[type="submit"] {
    color: white;
    border: none;
    background: rgb(255,196,0);
    background: linear-gradient(27deg, rgba(255,196,0,1) 0%, rgba(252,96,69,1) 100%);
}